.page-content {
    margin-left:0;
    padding:30px;
    border:0;
}

.ch-snippet {
    margin-bottom:10px;
    -webkit-column-break-inside:avoid;
    column-break-inside:avoid;
}

.ch-snippet__name {
    font-size:1em;
    font-weight:600;
    float:left;
    padding:0;
}

.ch-snippet__value {
    white-space:pre-wrap;
    overflow:hidden;
    margin:0;
    padding:1px 0 1px 20px;
    color:#777;
}

.ch-tabstop {
    background:rgba(200,  200,  200,  1);
    display:inline-block;
    padding:0 2px;
    color:#fff;
    text-shadow:1px 1px 1px rgba(0, 0, 0, .5);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:4px;
}

.ch-caret {
    border-left:2px solid rgba(90, 160, 196, 1);
    margin:0 2px -.1em;
    display:inline-block;
    height:1.1em;
}

.ch-section {
    margin-bottom:20px;
    clear:both;
}

.ch-section:last-of-type {
    margin-bottom:0;
}

.ch-section__content {
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
    -webkit-column-gap:30px;
    -moz-column-gap:30px;
    column-gap:30px;
}

.ch-section__title {
    margin:0 0 .5em;
    page-break-after:avoid;
}

.ch-subsection {
    clear:both;
    -webkit-column-break-inside:avoid;
    -moz-column-break-inside:avoid;
    -ms-column-break-inside:avoid;
    -o-column-break-inside:avoid;
    column-break-inside:avoid;
}

.ch-subsection__title {
    margin:20px 0 5px;
    page-break-after:avoid;
}

.ch-subsection:first-child .ch-subsection__title {
    margin-top:0;
}

.cn-snippet__alias {
    font-size:10px;
    margin:5px 0;
}

.cn-snippet__alias-abbr {
    color:#606064;
}

.ch-section_syntax .ch-snippet__name, .ch-section_html .ch-snippet__name, .ch-section_xsl .ch-snippet__name {
    float:none;
}

.ch-section_syntax .ch-snippet, .ch-section_html .ch-snippet, .ch-section_xsl .ch-snippet {
    margin-bottom:20px;
}

.ch-section_css .ch-snippet__name {
    min-width:7em;
}

@media print, screen and (max-width:870px) {
    .ch-section__content {
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
}

.page-content {
    padding:10px;
}

}@media print, screen and (max-width:500px) {
    .ch-section__content {
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;
}

.page-content {
    padding:5px;
}

}
